.card {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  text-align: center;
  padding:48px 32px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 32px;

  &__title{
    font-size: 24px;
    font-weight: bold;
    padding: 40px 0 30px 0;
  }
  &__text{
    font-size: 16px;
  }
}

@media only screen and (max-width : 1280px) {
  .card {
    padding: 37px 24px;
    width: 250px;
    margin: 20px 20px;
  }
}
@media only screen and (max-width : 800px)  {
  .card {
    padding: 37px 24px;
    width: 200px;
    margin: 10px 20px;
  }
}
@media only screen and (max-width : 600px)  {
  .card {
    padding: 37px 24px;
    width: 300px;
    margin: 20px 20px;
  }
}