#root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
html {
  height: 100%;
  line-height: normal;
}
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
main {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;
}
h1,h2 {
  font-weight: 400;
}

h3 {
  cursor:pointer;
  font-size: 40px;
  font-weight: 400;
}
h4 {
  margin: 24px 0 16px 0 ;
  color:black;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
}
h5 {
  margin: 0 0 24px 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1A1A1A;
}
p {
  margin: 0;
  padding: 0;

}

.logo__link {
  cursor:pointer;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width : 1024px) {
  html{
    max-width: 1024px;
    width: 100%;
  }
  #root{ 
    max-width: 1024px;
    width: 100%;
  }
  body {
    max-width: 1024px;
    width: 100%;
  }
}
@media only screen and (max-width : 768px)  {
  h1{
    padding: 20px 0 10px;
  }
 
}
@media only screen and (max-width : 533px)  {
  h1 {
    padding: 0;
    font-weight: 400;
    line-height: 1.2;
    font-size: 36px;
  }
}

@media only screen and (max-width : 375px)  {
  h1 {
    line-height: 1;
  }
}